<ul>
	<li data-genre="rock" href="/genre/rock" class="rock-link">Rock</li>
	<li data-genre="electro" href="/genre/electro" class="electro-link">Electrónica</li>
	<li data-genre="headliners" href="/genre/headliners" class="headliners-link">Headliners</li>
	<li data-genre="folk" href="/genre/folk" class="folk-link">Folklórica</li>
	<li data-genre="pop" href="/genre/pop" class="pop-link">Pop</li>
</ul>
